<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>eWallet demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>

{% block main %}
    <div class="container mt-5">
        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <div class="row justify-content-center" {{ stimulus_controller('login') }}>
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-body p-4">
                        <form action="{{ path('security_login') }}" method="post">
                            <div class="form-group mb-3">
                                <label for="username" class="form-label">{{ 'label.username'|trans }}</label>
                                <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" {{ stimulus_target('login', 'username') }} required autofocus />
                            </div>

                            <div class="form-group mb-3">
                                <label for="password" class="form-label">{{ 'label.password'|trans }}</label>
                                <div class="input-group">
                                    <input type="password" id="password" name="_password" class="form-control" {{ stimulus_target('login', 'password') }} required />
                                    <button class="btn btn-outline-secondary" type="button" {{ stimulus_action('login', 'togglePasswordInputType') }}>
                                        <i class="fa fa-eye"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="form-check mb-3">
                                <input type="checkbox" class="form-check-input" id="remember_me" name="_remember_me" checked>
                                <label class="form-check-label" for="remember_me">Zapamiętaj mnie</label>
                            </div>
                            <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                            <button type="submit" class="btn btn-primary w-100">
                                <i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'action.sign_in'|trans }}
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div id="login-help" class="col-md-6 mt-4 mt-md-0">
                <div class="card shadow-sm">
                    <div class="card-header bg-info text-white">
                        <h3 class="mb-0">
                            <i class="fa fa-info-circle" aria-hidden="true"></i> {{ 'help.login_users'|trans }}
                        </h3>
                    </div>
                    <div class="card-body p-4">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th scope="col">{{ 'label.username'|trans }}</th>
                                <th scope="col">{{ 'label.password'|trans }}</th>
                                <th scope="col">{{ 'label.role'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>john_user</td>
                                <td>kitten</td>
                                <td><code>ROLE_USER</code> ({{ 'help.role_user'|trans }})</td>
                            </tr>
                            <tr>
                                <td>jane_admin</td>
                                <td>kitten</td>
                                <td><code>ROLE_ADMIN</code> ({{ 'help.role_admin'|trans }})</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        });
    </script>
{% endblock %}
</body>
</html>