<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>eWallet demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
{% block main %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <img src="https://www.kadencewp.com/wp-content/uploads/2020/10/alogo-2.svg" style="width:10%;">
            <a class="navbar-brand" href="#">eWallet</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="transfer-link">Transfer Funds</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center" style="background-color:lightgrey;">
            Initial account balance
            <span class="badge bg-primary rounded-pill">1000 PLN</span>
        </li>
        {% for transfer in transfers %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {% if transfer.amount > 0 %}
                Incoming
                {% else %}
                Out coming
                {% endif %} transfer
                <span class="badge bg-secondary rounded-pill">{{ transfer.amount }} PLN</span>
            </li>
        {% endfor %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Final account balance
            <span class="badge bg-primary rounded-pill">{{ sum }} PLN</span>
        </li>
    </ul>

    <hr>

    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        You have an overdraft!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Your expenses exceeded incomes!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <!-- Transfer Form Modal -->
    <div class="modal fade" id="transferModal" tabindex="-1" aria-labelledby="transferModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="transferModalLabel">Transfer Funds</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% if error %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endif %}
                    {% if success %}
                        <div class="alert alert-success">{{ success }}</div>
                    {% endif %}
                    <form action="{{ path('transfer_post') }}" method="post">
                        <div class="form-group">
                            <label for="from_account">From Account</label>
                            <input type="text" class="form-control" id="from_account" name="from_account" required>
                        </div>
                        <div class="form-group">
                            <label for="to_account">To Account</label>
                            <input type="text" class="form-control" id="to_account" name="to_account" required>
                        </div>
                        <div class="form-group">
                            <label for="amount">Amount</label>
                            <input type="number" class="form-control" id="amount" name="amount" required>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Transfer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
        document.getElementById('transfer-link').addEventListener('click', function(event) {
            event.preventDefault();
            var transferModal = new bootstrap.Modal(document.getElementById('transferModal'));
            transferModal.show();
        });
    </script>
{% endblock %}
</body>
</html>